:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop-down-wrapper {
  margin: 10px;
  width: 200px;
}

button {
  width: 100%;
}

igx-buttongroup{
  display: inline-block;
  max-width: 400px;
}
