<p>墨出しロボット接続設定</p>

<div class="select-wrapper">
  <igx-select #selectRobotName>
    <label igxLabel>ロボット名称</label>
    <igx-select-item *ngFor="let item of itemsRobot" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>

  <div>
  <igx-select #selectKuiName>
    <label igxLabel>杭ナビ番号</label>
    <igx-select-item *ngFor="let item of itemsKui" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>
  <button class="button-igx-primary">指定杭ナビ接続</button>
  </div>
  <br>

  <div>
  <!-- <div class="text-center"> -->
    設定中のDXFファイル: {{ currfilename }}<br>
    新規DXFファイル設定: <input class="select-dxffile" type="file"
           (change)="onChange($event)">

    <!-- ファイル送信ボタン-->
    <button (click)="onUpload()" class="btn btn-success">Upload</button>
    <button (click)="onParse()" class="btn btn-success">Parse</button>
  </div>

  <!-- Shareable short link of  uploaded file -->
  <div class="container text-center jumbotron"
       *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
  </div>

  <!--Flag variable is used here-->
  <div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
  </div>

  <igx-select #selectViewLayer [ngModel]="selviewlayername" (ngModelChange)="selViewLayer($event)">
    <label igxLabel>表示レイヤー名</label>
    <!-- <igx-select-item *ngFor="let item of itemViewLayer" [value]="item" (click)="selViewLayer()"> -->
    <igx-select-item *ngFor="let item of itemViewLayer" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>

  <igx-select #selectDrawLayer [ngModel]="seldrawlayername" (ngModelChange)="selDrawLayer($event)">
    <label igxLabel>描画レイヤー名</label>
    <!-- <igx-select-item *ngFor="let item of itemDrawLayer" [value]="item" (click)="onLoadViewLayer()" > -->
    <igx-select-item *ngFor="let item of itemDrawLayer" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>

</div>
