<p>墨出しロボット接続設定</p>

<div class="select-wrapper">
  <!-- 接続ロボット名称の設定 -->
  <igx-select #selectRobotName>
    <label igxLabel>ロボット名称</label>
    <igx-select-item *ngFor="let item of itemsRobot" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>

  <!-- 接続杭ナビ番号の設定 -->
  <igx-select #selectKuiName>
    <label igxLabel>杭ナビ番号</label>
    <igx-select-item *ngFor="let item of itemsKui" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>

  <!-- 接続ボタン -->
  <!-- 接続ボタンを押したら、杭ナビの初期化を行う -->
  <button igxButton="raised">接続</button>

  <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)">
    <!-- ファイル送信ボタン-->
    <button (click)="onUpload()" class="btn btn-success">
      Upload
    </button>
  </div>

  <!-- Shareable short link of  uploaded file -->
  <div class="container text-center jumbotron"
       *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
  </div>

  <!--Flag variable is used here-->
  <div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
  </div>

  <!-- 転送完了 -->
  <div class="container" *ngIf="success_loading">
    <h3>Load Success!</h3>
  </div>

  <!-- 転送エラー -->
  <div class="container" *ngIf="error_loading">
    <h3>Load Success!</h3>
  </div>

  <!-- 表示レイヤーのCombobox　-->
  <igx-select #selectViewLayer>
    <label igxLabel>表示レイヤー名</label>
    <igx-select-item *ngFor="let item of itemViewLayer" [value]="item" (click)="onLoadViewLayer()" (selectedChange)="viewLayerSelectChange()">
      {{item}}
    </igx-select-item>
  </igx-select>

  <!-- 描画レイヤーのCombobox -->
  <igx-select #selectDrawLayer>
    <label igxLabel>描画レイヤー名</label>
    <igx-select-item *ngFor="let item of itemDrawLayer" [value]="item" (click)="onLoadViewLayer()" (selectedChange)="drawLayerSelectChange()">
      {{item}}
    </igx-select-item>
  </igx-select>

  <!--  ファイル読み込み完了Dialogの表示用-->
  <igx-dialog #alert
              [title]="dialog_title"
              [message]="dialog_msg"
              leftButtonLabel="OK"
              (leftButtonSelect)="alert.close()">
  </igx-dialog>



</div>
