<!--<p>basic category chart with chart type selector.</p>-->
<!--<div>-->
<!--  <span>Chart Type:</span>-->
<!--  <select [(ngModel)]="chartType">-->
<!--    <option>Auto</option>-->
<!--    <option>Area</option>-->
<!--    <option>Line</option>-->
<!--    <option>Column</option>-->
<!--    <option>Point</option>-->
<!--    <option>Spline</option>-->
<!--    <option>SplineArea</option>-->
<!--    <option>StepArea</option>-->
<!--    <option>StepLine</option>-->
<!--    <option>Waterfall</option>-->
<!--  </select>-->
<!--</div>-->
<!--<igx-category-chart height="550px" width="100%"-->
<!--    chartTitle="Population per Country (millions)"-->
<!--    [chartType]="chartType"-->
<!--    [dataSource]="data">-->
<!--</igx-category-chart>-->

<div class="container vertical">
  <div class="options vertical">
    <label id="legendTitle">Airplane Seating Chart (Polylines)</label>
  </div>

  <!-- P基準点選択Combo   -->
  <div class="combo-section">
    <igx-simple-combo class="input-container" #combo
                      [data]="BasePointList"
                      [displayKey]="'name'" [valueKey]="'id'"
                      [(ngModel)]="selectedPointName">
    </igx-simple-combo>
  </div>

  <igx-select #selectBasePoint>
    <label igxLabel>基準点名</label>
    <igx-select-item *ngFor="let item of itemBasePointName" [value]="item">
      {{item}}
    </igx-select-item>
  </igx-select>

  <div class="custom-legend">
    <div><span style="background: DodgerBlue; "></span><label>First Class</label></div>
    <div><span style="background: LimeGreen; "></span><label>Business Class</label></div>
    <div><span style="background: Orange; "></span><label>Premium Class</label></div>
    <div><span style="background: Red; "></span><label>Economy Class</label></div>
    <div><span style="background: Gray; "></span><label>Sold Seat</label></div>
    <div><span style="background: LightGray; "></span><label>Airplane</label></div>
  </div>

  <div class="container">
    <igx-data-chart isHorizontalZoomEnabled="true" isVerticalZoomEnabled="true" isSquare="true"
                    width="100%"
                    height="100%">
      <igx-numeric-x-axis #xAxis name="xAxis" minimumValue="-1000" maximumValue="1000"
                          interval="200"></igx-numeric-x-axis>
      <igx-numeric-y-axis #yAxis name="yAxis" minimumValue="-600" maximumValue="600"
                          interval="200"></igx-numeric-y-axis>

      <igx-scatter-polyline-series name="airplaneShapeSeries" #airplaneShapeSeries
                                   [xAxis]="xAxis"
                                   [yAxis]="yAxis" shapeMemberPath="points" thickness="0.5"
                                   title="Airplane Shape" brush="LightGray" outline="Black"
                                   (styleShape)="onStyleLine($event)">
      </igx-scatter-polyline-series>

      <igx-scatter-polyline-series name="airplaneSeatSeries" #airplaneSeatSeries
                                   [xAxis]="xAxis"
                                   [yAxis]="yAxis" shapeMemberPath="points"
                                   title="Airplane Seats"
                                   (styleShape)="onStylingShape($event)">
      </igx-scatter-polyline-series>
    </igx-data-chart>
  </div>

  <div class="option horizontal">
    <div><span style="border-color: dodgerblue; "></span><label>First Class</label></div>
    <div><span style="border-color: LimeGreen; "></span><label>Business Class</label></div>
    <div><span style="border-color: Orange; "></span><label>Premium Class</label></div>
    <div><span style="border-color: red; "></span><label>Economy Class</label></div>
    <div><span style="border-color: gray; "></span><label>Sold Seat</label></div>
  </div>
</div>

<ng-template let-series="series" let-item="item" #seatTooltip>
  <div>
    <span>{{item.class}} Class</span>
    <br/>
    <span>Seat: {{item.seat}}</span>
    <br/>
    <span>Price: ${{item.price}}</span>
    <br/>
    <span>Status: {{item.status}}</span>
  </div>
</ng-template>



<!--<button igxButton="raised" igxRipple="white" (click)="form.open()">Show Custom Dialog</button>-->

<!--位置入力Dialog -->
<igx-dialog #form [closeOnOutsideSelect]="true" [hidden]="true">
  <igx-dialog-title>
    <div class="title-container">
      <igx-icon>vpn_key</igx-icon>
      <div class="dialog-title">Sign In</div>
    </div>
  </igx-dialog-title>

  <form class="signInForm">

    <!-- P基準点選択Combo   -->
    <div class="combo-section">
      <igx-simple-combo class="input-container" #combo
                        [data]="BasePointList"
                        [displayKey]="'name'" [valueKey]="'id'"
                        [(ngModel)]="selectedPointName">
      </igx-simple-combo>
    </div>

    <div *ngIf="!!selectedPointName">
      <h6>Selected City's Id:</h6>
      <div>{{ selectedPointName }}</div>
    </div>

    <!-- X 値の表示用-->
    <igx-input-group>
      <!--      <igx-prefix>-->
      <!--        <igx-icon>person</igx-icon>-->
      <!--      </igx-prefix>-->
      <label igxLabel for="xValue">X [mm]</label>
      <input igxInput id="xValue" [value]="onGetValue(selectedPointName )" (error)="onErrorInput()"/>
    </igx-input-group>

    <!-- X Offset入力用-->
    <igx-input-group>
      <label igxLabel for="xOffset">X Offset [mm]</label>
      <input igxInput id="xOffset"/>
    </igx-input-group>

    <!-- Y 値の表示用-->
    <igx-input-group>
      <!--      <igx-prefix>-->
      <!--        <igx-icon>lock</igx-icon>-->
      <!--      </igx-prefix>-->
      <label igxLabel for="yValue">Y [mm]</label>
      <input igxInput id="yValue"/>
    </igx-input-group>

    <!-- Y Offset入力用-->
    <igx-input-group>
      <label igxLabel for="yOffset">Y Offset[mm]</label>
      <input igxInput id="yOffset"/>
    </igx-input-group>

  </form>

  <div igxDialogActions>
    <button igxButton (click)="form.close()">CANCEL</button>
    <button igxButton (click)="form.close()">設定</button>
  </div>
</igx-dialog>
