<!--<p>basic category chart with chart type selector.</p>-->
<!--<div>-->
<!--  <span>Chart Type:</span>-->
<!--  <select [(ngModel)]="chartType">-->
<!--    <option>Auto</option>-->
<!--    <option>Area</option>-->
<!--    <option>Line</option>-->
<!--    <option>Column</option>-->
<!--    <option>Point</option>-->
<!--    <option>Spline</option>-->
<!--    <option>SplineArea</option>-->
<!--    <option>StepArea</option>-->
<!--    <option>StepLine</option>-->
<!--    <option>Waterfall</option>-->
<!--  </select>-->
<!--</div>-->
<!--<igx-category-chart height="550px" width="100%"-->
<!--    chartTitle="Population per Country (millions)"-->
<!--    [chartType]="chartType"-->
<!--    [dataSource]="data">-->
<!--</igx-category-chart>-->

<div class="container vertical">
  <div class="options vertical">
    <label id="legendTitle">Airplane Seating Chart (Polylines)</label>
  </div>

  <!--  <div class="custom-legend">-->
  <!--    <div><span style="background: DodgerBlue; "></span><label>First Class</label></div>-->
  <!--    <div><span style="background: LimeGreen; "></span><label>Business Class</label></div>-->
  <!--    <div><span style="background: Orange; "></span><label>Premium Class</label></div>-->
  <!--    <div><span style="background: Red; "></span><label>Economy Class</label></div>-->
  <!--    <div><span style="background: Gray; "></span><label>Sold Seat</label></div>-->
  <!--    <div><span style="background: LightGray; "></span><label>Airplane</label></div>-->
  <!--  </div>-->

  <div class="container">
    <igx-data-chart isHorizontalZoomEnabled="true" isVerticalZoomEnabled="true"
                    width="100%"
                    height="100%" defaultInteraction="auto"
    >
      <igx-numeric-x-axis #xAxis name="xAxis" minimumValue="-10000" maximumValue="10000"
                          interval="500"></igx-numeric-x-axis>
      <igx-numeric-y-axis #yAxis name="yAxis" minimumValue="-10000" maximumValue="10000"
                          interval="500"></igx-numeric-y-axis>

      <igx-scatter-polyline-series name="airplaneShapeSeries" #airplaneShapeSeries
                                   [xAxis]="xAxis"
                                   [yAxis]="yAxis" shapeMemberPath="points" thickness="0.5"
                                   (styleShape)="onStyleLine($event)">
      </igx-scatter-polyline-series>

      <igx-scatter-polyline-series name="airplaneSeatSeries" #airplaneSeatSeries
                                   [xAxis]="xAxis"
                                   [yAxis]="yAxis" shapeMemberPath="points"
                                   title="Airplane Seats"
                                   (styleShape)="onStylingShape($event)">
      </igx-scatter-polyline-series>
    </igx-data-chart>
  </div>

  <div class="option horizontal">
    <div><span style="border-color: dodgerblue; "></span><label>First Class</label></div>
    <div><span style="border-color: LimeGreen; "></span><label>Business Class</label></div>
    <div><span style="border-color: Orange; "></span><label>Premium Class</label></div>
    <div><span style="border-color: red; "></span><label>Economy Class</label></div>
    <div><span style="border-color: gray; "></span><label>Sold Seat</label></div>
  </div>
</div>

<ng-template let-series="series" let-item="item" #seatTooltip>
  <div>
    <span>{{item.class}}</span><br/>
    <span>Seat: {{item.seat}}</span><br/>
    <span>Price: ${{item.price}}</span><br/>
    <span>Status: {{item.status}}, {{item.points[0][0].x}}, {{item.points[0][0].y}}</span>
  </div>
</ng-template>


<!--位置入力Dialog -->
<igx-dialog #form [closeOnOutsideSelect]="true" [hidden]="true" >
  <igx-dialog-title>
    <div class="title-container">
      <igx-icon>vpn_key</igx-icon>
      <div class="dialog-title">基準点の計測</div>
    </div>
  </igx-dialog-title>

  <form class="signInForm">

    <!-- P基準点選択Combo   -->
    <div class="combo-section">
      <igx-simple-combo class="input-container" #combo
                        [data]="BasePointList"
                        [displayKey]="'name'" [valueKey]="'name'"
                        [(ngModel)]="selectedPointName" name="name" (ngModelChange)="onComboChange($event)">
      </igx-simple-combo>
    </div>

    <!-- for debug   -->
    <div *ngIf="!!selectedPointName">
      <h6>Selected City's Id:</h6>
      <div>{{ selectedPointName }}</div>
    </div>

    <!-- X 値の表示用-->
    <igx-input-group>
      <!--      <igx-prefix>-->
      <!--        <igx-icon>person</igx-icon>-->
      <!--      </igx-prefix>-->
      <label igxLabel for="xValue">X [mm]</label>
      <input igxInput id="xValue" [(ngModel)]="tmpX" name="xValue"/>
    </igx-input-group>

    <!-- X Offset入力用-->
    <igx-input-group>
      <label igxLabel for="xOffset">X Offset [mm]</label>
      <input igxInput id="xOffset" [(ngModel)]="tmpOffsetX" name="xOffset"/>
    </igx-input-group>

    <!-- Y 値の表示用-->
    <igx-input-group>
      <!--      <igx-prefix>-->
      <!--        <igx-icon>lock</igx-icon>-->
      <!--      </igx-prefix>-->
      <label igxLabel for="yValue">Y [mm]</label>
      <input igxInput id="yValue" [(ngModel)]="tmpY" name="yValue"/>
    </igx-input-group>

    <!-- Y Offset入力用-->
    <igx-input-group>
      <label igxLabel for="yOffset">Y Offset[mm]</label>
      <input igxInput id="yOffset" [(ngModel)]="tmpOffsetY" name="yOffset"/>
    </igx-input-group>

  </form>

  <div igxDialogActions>
    <button igxButton (click)="form.close()">CANCEL</button>
    <button igxButton (click)="onCalcMatrix()">変換計算</button>
    <button igxButton (click)="onMeasure()">計測</button> <!-- 計測開始ボタン -->
    <!-- <button igxButton (click)="onMMeasure()">計測</button> -->
  </div>

  <!--  ファイル読み込み完了Dialogの表示用-->
  <igx-dialog #alert
              [title]="dialogTitle"
              [message]="dialogMsg"
              leftButtonLabel="OK"
              (leftButtonSelect)="alert.close()">
  </igx-dialog>
</igx-dialog>

<!--変換結果表示用　Dialog -->
<igx-dialog #formResult [closeOnOutsideSelect]="true" [hidden]="true" (opened)="onResultFormOpen($event)">
  <igx-dialog-title>
    <div class="title-container">
      <igx-icon>vpn_key</igx-icon>
      <div class="dialog-title">変換係数</div>
    </div>
  </igx-dialog-title>

  <form class="signInForm">

    <!-- X 値の表示用-->
    <igx-input-group>
      <label igxLabel for="xResult">X [mm]</label>
      <input igxInput id="xResult" [(ngModel)]="xResult" name="xResult"/>
    </igx-input-group>

    <!-- Y 値の表示用-->
    <igx-input-group>
      <label igxLabel for="yResult">X [mm]</label>
      <input igxInput id="yResult" [(ngModel)]="yResult" name="yResult"/>
    </igx-input-group>

    <!-- Z 値の表示用-->
    <igx-input-group>
      <label igxLabel for="zResult">X [mm]</label>
      <input igxInput id="zResult" [(ngModel)]="zResult" name="zResult"/>
    </igx-input-group>

    <!-- RX 値の表示用-->
    <igx-input-group>
      <label igxLabel for="rxResult">X [mm]</label>
      <input igxInput id="rxResult" [(ngModel)]="rxResult" name="rxResult"/>
    </igx-input-group>

    <!-- RY 値の表示用-->
    <igx-input-group>
      <label igxLabel for="ryResult">X [mm]</label>
      <input igxInput id="ryResult" [(ngModel)]="ryResult" name="ryResult"/>
    </igx-input-group>

    <!-- RZ 値の表示用-->
    <igx-input-group>
      <label igxLabel for="rzResult">X [mm]</label>
      <input igxInput id="rzResult" [(ngModel)]="rzResult" name="rzResult"/>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel for="xOffsetResult">Y Offset[mm]</label>
      <input igxInput id="xOffsetResult" [(ngModel)]="xOffsetResult" name="xOffsetResult"/>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel for="yOffsetResult">Y Offset[mm]</label>
      <input igxInput id="yOffsetResult" [(ngModel)]="yOffsetResult" name="yOffsetResult"/>
    </igx-input-group>


  </form>

  <div igxDialogActions>
    <button igxButton (click)="form.close()">CANCEL</button>
    <button igxButton (click)="onMeasure()">計測</button> <!-- 計測開始ボタン -->
    <!-- <button igxButton (click)="onMMeasure()">計測</button> -->
  </div>

  <!--  ファイル読み込み完了Dialogの表示用-->
  <igx-dialog #alert
              [title]="dialogTitle"
              [message]="dialogMsg"
              leftButtonLabel="OK"
              (leftButtonSelect)="alert.close()">
  </igx-dialog>
</igx-dialog>

